/ex01/Exercicio8/nbproject/private/
/ex01/Exercicio8/build/
/ex01/Exercicio9/nbproject/private/
/ex01/Exercicio9/build/
/ex01/Exercicio10/nbproject/private/
/ex01/Exercicio10/build/
/ex01/Exercicio11/nbproject/private/
/ex01/Exercicio12/nbproject/private/
